<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/semantic/components/reset.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/site.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/container.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/grid.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/header.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/image.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/menu.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/divider.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/segment.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/form.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/input.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/button.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/list.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/message.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/icon.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/modal.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/dimmer.css">
<link rel="stylesheet" type="text/css" href="/static/semantic/components/transition.css">
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
<script type="text/javascript" src="/static/semantic/semantic.min.js"></script>
<script type="text/javascript" src="/static/semantic/components/form.js"></script>
<script type="text/javascript" src="/static/semantic/components/dimmer.js"></script>
<script type="text/javascript" src="/static/semantic/components/transition.js"></script>
<script type="text/javascript" src="/static/semantic/components/modal.js"></script>
<script type="text/javascript" src="/static/js/sweetalert.min.js"></script>



