<div class="two wide column sidenav" id="sidenav_wrapper" >
   <ul class="category-outer">
   		<li class="category">
   			Category1
   			<i class="chevron right icon"></i>
   			<div class="category-wrapper">
   				<ul>
   					<li class="back"><i class="chevron left icon"></i>Back</li>
   					<li>item1</li>
   					<li>item2</li>
   					<li>item3</li>
   				</ul>
   			</div>
   		</li>
   		<li class="category">
   			Category2
   			<i class="chevron right icon"></i>
   			<div class="category-wrapper">
   				<ul>
   					<li class="back">
   						<i class="chevron left icon"></i>
   						Back
   					</li>
   					<li>Item4</li>
   					<li>Item5</li>
   				</ul>
   			</div>
   		</li>
         <li class="category">
            Category3
            <i class="chevron right icon"></i>
            <div class="category-wrapper">
               <ul>
                  <li class="back">
                     <i class="chevron left icon"></i>
                     Back
                  </li>
                  <li>Item6</li>
                  <li>Item7</li>
               </ul>
            </div>
         </li>
   </ul>
 </div>