<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/semantic/semantic.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.twbsPagination.min.js"></script>
	<script type="text/javascript" src="/static/js/header.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
	{% include './Shared/header.html' %} 
	<div class="ui bottom attached segment grid" style="border-top:0px;">
		 <div class="sixteen wide column">
		 	<div class="ui link four cards">
		 		<div class="card">
		 			<div class="image">
		 				<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
		 			</div>
		 			<div class="content">
		 				<div class="header">Singo</div>
		 				<div class="meta">
		 					<a href="">coworker</a>
		 				</div>
		 				<div class="description">
		 					profile
		 				</div>
		 				<div class="extra content">
		 					<span class="right floated">
		 						Joined in 2016
		 					</span>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="card">
		 			<div class="image">
		 				<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
		 			</div>
		 			<div class="content">
		 				<div class="header">
		 					QQ
		 				</div>
		 				<div class="meta">
		 					<a href="">coworker</a>
		 				</div>
		 				<div class="description">
		 					profile
		 				</div>
		 				<div class="extra content">
		 					<span class="right floated">
		 						Joined in 2015
		 					</span>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="card">
		 			<div class="image">
		 				<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
		 			</div>
		 			<div class="content">
		 				<div class="header">
		 					Ddddd
		 				</div>
		 				<div class="meta">
		 					<a href="">coworker</a>
		 				</div>
		 				<div class="description">
		 					profile
		 				</div>
		 				<div class="extra content">
		 					<span class="right floated">
		 						Joined in 2013
		 					</span>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="card">
	 				<div class="image">
	 					<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
		 			</div>		
		 			<div class="content">
		 				<div class="header">
		 				 	66666
		 				</div>
		 				<div class="meta">
		 					<a href="">coworker</a>
		 				</div>
		 				<div class="description">
		 					I'm a one ping
		 				</div>
		 				<div class="extra content">
		 					<span class="right floated">
		 						Joined in 2014
		 					</span>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		 </div>
	</div>
</body>
</html>
